# Info: Reload in live Docker using `caddy reload --config /etc/caddy/Caddyfile --adapter caddyfile`

# Global
{
    # Debug
    {$DEBUG}
    # HTTP/3 support
    servers {
        protocol {
            experimental_http3
        }
    }
}

# define single site using environment variable
caddy-probe.local:80, {$SERVER_NAME}

# named matchers
@do_varnish_pass {
    header !X-Caddy-Forwarded
}

@health_check {
    host caddy-probe.local
    path /health-check
}

# customisable log level with environment
log {
    level {$LOG_LEVEL:"info"}
}

# preserve orders
route {
    respond @health_check 200 {
        close
    }

    root * /srv/api/public

    mercure @do_varnish_pass {
        # Transport to use (default to Bolt)
        transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
        # Publisher JWT key
        publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
        # Subscriber JWT key
        subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
        # Allow anonymous subscribers (double-check that it's what you want)
        anonymous
        # Enable the subscription API (double-check that it's what you want)
        subscriptions
        # Extra directives
        {$MERCURE_EXTRA_DIRECTIVES}
    }
    vulcain @do_varnish_pass
    push @do_varnish_pass

    # do the cache pass
    reverse_proxy @do_varnish_pass {
        to {$VARNISH_UPSTREAM}
        health_path /healthz
        health_interval 5s
        health_timeout 20s
        fail_duration 5s
        header_up X-Caddy-Forwarded 1
    }

    php_fastcgi unix//var/run/php/php-fpm.sock
    encode zstd gzip
    file_server
}
